.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}

.modal-content {
    background-image: url('../imagen/fondoderrota.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height: 200px;
    color: rgb(252, 2, 2);
    border-radius: 3cap;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1.5);
}

.modal-buttons {
    text-align: center;
    margin-top: 50px;
}

.modal-buttons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    border: 2px solid #505050;
    background-color: rgba(30, 68, 255, 0.747);
    border-radius: 1cap;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: "Playfair Display", serif;
}

/* Estilos para el modal */
.modalAy {
    display: none;
    position: fixed;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.Help-content {
    position: relative;
    width: 583px;
    background-color:transparent;
    top: 20%;
    left:30%;
}

.modal-content img {
    width: 100%;
    height: auto;
}


.modal-buttons button:hover {
    background-color: rgb(119, 217, 255);
    color: #000;
    transform: scale(1.1);
}